footer {
    background-color: #F4F4F4;
    font-family: sans-serif;
    height: 282px;
}

.newsletter {
    background-color: #271C47;
    color: #FFFFFF;
    height: 162px;
    padding: 20px;
    text-align: center;
}

.newsletter p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.newsletter input {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.newsletter button {
    background-color: #F7CA11;
    color: #161615;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.conteudo-principal {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.logo img {
    width: 150px;
    margin-bottom: 10px;
}

.redes-sociais img {
    width: 30px;
    margin: 5px;
}

.links {
    display: flex;
}

.links div {
    margin: 0 20px;
}

.links h3 {
    margin-bottom: 10px;
}

.links ul {
    list-style: none;
    padding: 0;
}

.links li {
    margin-bottom: 5px;
}

.copyright {
    width: 1441px;
    height: 46.84px;
    text-align: center;
    padding: 20px;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
    color: #222222B5;
}